/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-abr-2018, 20:29:20
    Author     : Pablo
*/

        * {
                        margin: 0;
                        padding: 0;

        }

        .header {
                /* ??? */
                position:fixed;
                width: 100%;
                z-index: 500;
                background: #4286f4;
                color: #ffffff;
                padding: 15px;
                height: 70px;
        }


        .header .social{
                list-style: none;
                padding-top: 8px;
                font-weight: 500;
                font-size: 16px;
        }

        .header .social li{
                display: inline-block;
                margin-left: 10px;
        }

        .header .lang{
                list-style: none;
                text-align: right;
                padding-top: 8px;
        }

        .header .lang li{
                display: inline-block;
                margin-left: 10px;
        }

        .header .logo img{
                display: block;
                margin: 0 auto;
        }
            
            